*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

header{

height:100vh;

background:linear-gradient(135deg,#6C63FF,#FF6584);

color:white;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 80px;

}

.logo{

font-size:30px;

}

nav ul{

display:flex;

list-style:none;

}

nav ul li{

margin-left:30px;

}

nav ul li a{

color:white;

text-decoration:none;

font-size:18px;

transition:.3s;

}

nav ul li a:hover{

color:yellow;

}

.hero{

height:80vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

.hero h1{

font-size:60px;

margin-bottom:20px;

}

.hero p{

font-size:25px;

margin-bottom:30px;

}

.buttons{

display:flex;

gap:20px;

}

.btn{

background:white;

color:#6C63FF;

padding:15px 35px;

border-radius:30px;

text-decoration:none;

font-weight:bold;

}

.btn:hover{

background:#222;

color:white;

}

.btn2{

background:transparent;

border:2px solid white;

padding:15px 35px;

border-radius:30px;

color:white;

text-decoration:none;

font-weight:bold;

}

.btn2:hover{

background:white;

color:#6C63FF;

}

@media(max-width:768px){

nav{

flex-direction:column;

padding:20px;

}

nav ul{

margin-top:20px;

flex-direction:column;

text-align:center;

}

nav ul li{

margin:10px 0;

}

.hero h1{

font-size:35px;

}

.hero p{

font-size:18px;

}

.buttons{

flex-direction:column;

}

}
